doctype
html
	head
		title Front end project setup using gulp, pug, sass & babel
		link(href='assets/css/style.css' rel='stylesheet')
	body
		h1 gulp, pug, sass & babel all are ready to word.
		script(src='assets/js/main.js')